* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #bababa;
    font-size: 30px;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    display: inline-block;
    margin-inline-start: 20px;
    text-shadow: 2px 2px 1px #000;
    text-decoration: none;
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px;
    letter-spacing: 3px;
}

p {
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    grid-gap: 2rem;
    margin-left: 60px;
}

.squares{
    width: 200px;
    height: 150px;
    border-radius: 8%;
    background-color: #2e3351;
    box-shadow: #000000 3px 3px 1px;
}

.squares:hover{
    transform: scale(110%);
    background-color: #444b74;
}

@media screen and (min-width: 750px){

    #gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px){

    #gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}