#sun{
    animation-name: sunshine;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes sunshine{
    0%{
        transform: rotateX(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}