* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 1.44rem;
    justify-content: center;
    transform: translateY(200px);
    padding: 1.44rem 0.833rem;
}

.box article {
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 0.5s;
    transform-origin: center;
}

#boxes img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
}
  
.box{
    position: relative;
    perspective: 700px;
    user-select: none;
}

.front {
    position: absolute;
    background: rgb(240 240 240 / 0.75);
    transform: rotateX(0deg) translate3d(0px, -100px, 100px);
}

.front, .back {
    width: 300px;
    height: 200px;
    position: absolute;
    backface-visibility: visible;
    user-select: none;
}

.back{
    position: absolute;
    background: rgba(22, 109, 196, 0.75);
    transform: rotateX(-90deg) translate3d(0px, 0px, 0px);
  
}
  
.box:hover article{
    transform: rotateX(90deg);
}
  
/* responsive styles for cards*/
@media screen and (min-width:525px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
}
  
  
@media screen and (min-width:925px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

