body {
    background-color: #402F2D;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

header,
footer {
    background-color: #261D1D;
    width: 100%;
    height: 250px;
}

main {
    margin: 50px;
}


h1 {
    font-family: "Erica One", serif;
    font-weight: 400;
    font-style: normal;
    color: #F9BD6D;
    font-size: 90px;
    text-align: center;
}

h2 {
    font-family: "Erica One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFDBAD;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

h3 {
    font-family: "Erica One", serif;
    font-weight: 400;
    font-style: normal;
    color: #A65746;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 40px;
}

h4 {
    font-family: "vina sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #F9BD6D;
    font-size: 30px;
    text-align: center;
}

h5 {
    font-family: "vina sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFDBAD;
    font-size: 20px;
    text-align: center;
}


p {
    font-family: "vina sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #A65746;
    text-align: center;
    font-size: 25px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

a {
    font-family: "vina sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #A65746;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
}

a:hover {
    color: #c67866;
}

img {
    /*opacity: 0.25;*/
    transition: opacity 500ms;
    max-width: 100%;
    height: auto;
    filter: blur(2px);
}

figure {
    position: relative;
    align-items: center;
}

figure img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

figure .vidible {
    opacity: 1;
}

figure .hidden {
    opacity: 0;
}

figure:hover .hidden {
    opacity: 1;
}

.move-down {
    transform: translateY(100px);
    filter: blur(0px);
}

#move {
    transition: transform 1s;
    transform: filter 1s;
}

.left-right {
    transform: translate(100%);
    filter: blur(0px);
}

#slide {
    transition: transform 1s;
    transform: filter 1s;
}

#gallery {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#gallery img {
    width: 100%;
}

#test {
    grid-template-columns: 1fr 1fr;
}

section {
    display: inline-block;
    position: relative;
}