* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* headers */

h1 {
    font-style: normal;
    font-family: "Erica One", serif;
    font-weight: 200;
    color: #F9BD6D;
    text-align: center;
    font-size: 200%;
    letter-spacing: 3px;
}

h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFDBAD;
    text-align: center;
    font-size: 100%;
}

h3 {
    font-style: normal;
    font-family: "Erica One", serif;
    font-weight: 200;
    color: #A65746;
    text-align: center;
    letter-spacing: 3px;
    margin: 40px;
    font-size: 200%;
}

h4 {
    font-family: "vina sans", serif;
    font-weight: 400;
    color: #F9BD6D;
    text-align: center;
    font-size: 200%;
    padding: 3%;
}

h5 {
    font-family: "PT sans Narrow", serif;
    font-weight: 400;
    color: #FFDBAD;
    font-size: 80%;
    letter-spacing: 1px;
}

h6 {
    font-family: "PT sans Narrow", serif;
    font-weight: 700;
    color: #F9BD6D;
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
}

p {
    font-family: "PT Sans Narrow", serif;
    font-weight: 400;
    font-style: normal;
    color: #A65746;
    text-align: justify;
    font-size: 100%;
    word-spacing: 10px;
    letter-spacing: 1px;
}

a {
    font-family: "vina sans", serif;
    font-weight: 400;
    color: #A65746;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    letter-spacing: 2px;
}

figcaption {
    font-family: "vina sans", serif;
    font-weight: 400;
    color: #FFDBAD;
    text-align: center;
    font-size: 90%;
    letter-spacing: 1px;
}

a:hover {
    color: #F9BD6D;
}

p#back {
    text-align: center;
    padding: 5%;
}

h5.info {
    font-family: "PT sans Narrow", serif;
    font-weight: 400;
    color: #FFDBAD;
    text-align: center;
    font-size: 230%;
    letter-spacing: 1px;
    padding: 2%;
}

h5#songs {
    font-family: "PT sans Narrow", serif;
    font-weight: 400;
    color: #FFDBAD;
    text-align: center;
    letter-spacing: 1px;
}

h6#albums {
    font-family: "PT sans Narrow", serif;
    font-weight: 700;
    color: #F9BD6D;
    text-align: center;
    font-size: 40%;
    letter-spacing: 1px;
}


/* sections */

body {
    background-color: #402F2D;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 120%;
}

header {
    background-color: #261d1d;
    padding: 3%;
}

section {
    padding: 5%;
}

section#info {
    padding: 16%;
}

main {
    background-color: #261d1d;
    padding: 5%;
}

div#gallery {
    background-color: #261d1d;
    padding: 3%;
}

div#grid {
    background-color: #261d1d;
    padding: 3%;
}

div#test {
    background-color: #261d1d;
    padding: 3%;
}

div#hello {
    background-color: #261d1d;
}

div.row {
    background-color: #261d1d;
}

div.column {
    padding: 3%;
}

article {
    background-color: #261d1d;
    padding: 4%;
}

iframe {
    text-align: center;
}

br#space {
    display: block;
    content: "";
    margin: 10px;
}


.acordeon {
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}

.image-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.image-box:hover {
    flex-basis: 50%;
}

.active {
    flex-basis: 50%;
}

.acordeon:hover .active {
    flex-basis: 0;
}

.image-box:nth-child(1):hover {
    flex-basis: 50%;
}

#gallery img {
    width: 100%;
    padding: 5%;
}

#gallery img:hover {
    filter: blur(0px);
}

#gallery {
    display: grid;
    grid: 1.44rem;
    gap: 1rem;
}

#grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid: 1.44rem;
    gap: 1rem;
    text-align: center;
}

#text {
    margin: 2%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text {
    color: #FFDBAD;
    font-family: "PT sans Narrow", serif;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #A65746;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}

.container:hover .overlay {
    transform: scale(1);
}

.container-fade {
    position: relative;
    width: 100%;
}

.image-fade {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-fade:hover .image-fade {
    opacity: 0.3;
}

.container-fade:hover .middle {
    opacity: 1;
}

.text {
    font-family: "PT sans Narrow", serif;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.nav-border {
    background-color: #402F2D;
    padding: 3px 16px 6px;
    border-radius: 10px;
}

.left-right {
    transform: translate(100%);
}

#slide {
    transition: transform 1s;
    width: 50%;
}

.collapsible {
    background-color: #261d1d;
    color: #F9BD6D;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 60%;
    text-align: center;
    font-family: "PT sans Narrow", serif;
    font-weight: 700;
}

.active,
.collapsible:hover {
    background-color: #402F2D;
}

.content {
    padding: 2% 5% 2%;
    display: none;
    overflow: hidden;
    background-color: #A65746;
}

figure#rumours {
    position: relative;
}

figure#rumours img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

figure#rumours .vidible {
    opacity: 1;
}

/* media querries */

@media screen and (min-width: 450px) {
    #gallery {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 400%;
    }

    h2 {
        font-size: 180%;
    }

    h3 {
        font-size: 200%;
    }

    h4 {
        font-size: 200%;
    }

    h6 {
        font-size: 150%;
    }

    h5#info {
        font-size: 200%;
    }

    h6#albums {
        font-size: 80%;
    }

    a.top-header {
        font-size: 85%;
    }

    figcaption {
        font-size: 120%;
    }
}

@media screen and (min-width: 600px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    h1 {
        font-size: 600%;
    }

    h2 {
        font-size: 280%;
    }

    h3 {
        font-size: 250%;
    }

    h4 {
        font-size: 130%;
    }

    h5 {
        font-size: 130%;
    }

    h6 {
        font-size: 200%;
    }

    h5#info {
        font-size: 70%;
    }

    h6#albums {
        font-size: 90%;
    }

    p {
        font-size: 200%;
    }

    a.top-header {
        font-size: 170%;
    }

    figcaption {
        font-size: 180%;
    }

    .middle {
        top: 45%;
    }

    .collapsible {
        font-size: 90%;
    }
}

@media screen and (min-width: 800px) {
    .collapsible {
        font-size: 110%;
    }
}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 750%;
    }

    h2 {
        font-size: 380%;
    }

    h3 {
        font-size: 300%;
    }

    h4 {
        font-size: 180%;
    }

    h5 {
        font-size: 160%;
    }

    h6 {
        font-size: 250%;
    }

    h5#info {
        font-size: 120%;
    }

    h6#albums {
        font-size: 170%;
    }

    p {
        font-size: 250%;
    }

    a.top-header {
        font-size: 200%;
    }

    figcaption {
        font-size: 250%;
    }

    .middle {
        top: 45%;
    }

    .collapsible {
        font-size: 130%;
    }
}

@media screen and (min-width: 1200px) {
    .collapsible {
        font-size: 150%;
    }
}

@media screen and (min-width: 1400px) {
    .collapsible {
        font-size: 200%;
    }

    h5#text {
        font-size: 230%;
    }
}

@media screen and (min-width: 1700px) {
    .collapsible {
        font-size: 270%;
    }

    h5#text {
        font-size: 260%;
    }
}