#grille {
    width: 30vmin;
    height: 30vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

#grille .case {
    border: solid black 1px;
    display: grid;
    place-items: center;
}

#grille .case:hover {
     background-color: rgb(220, 220, 220);
}

nav {
   text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}
